@charset "utf-8";
body {
    font-family: Georgia, Times, serif;
	background-color: whitesmoke;
}
underl{
	text-decoration: underline;
}
h1, h2 {
    font-family: Arial, Verdana, sans-serif;
}
.credits {
    font-family: "Courier New", Courier, monospace;
}
qw{
	font-size:300%
}
em{
	font-size: 1.5em;
	font-family: 'Square Peg', cursive;
	font-style: oblique;
	text-transform: uppercase;
}

